.w_header {
	font-family: "dusha_plusregular";
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
}

.info-list {
	list-style-type: none;
	font-family: "Verdana";
}

.image-wrapper {
	display: inline;
}

.line-split {
	margin-top: 0px;
	margin-bottom: 5px; 
}

.s-info {
	font-family: "Verdana";
	font-size: 20px;
	color: #010101;
}

.stadium-image {
	width: 100%;
	height: 500px;
}

.custom-heading {
	padding: 1px 1px;
}

.custom-title {
	font-size: 5px;
}

.arrow {
	font-size: 10px;
}

.custom-column {
	padding-left: 0px;
}

.custom-bg{
    height: -webkit-fill-available;
    background-repeat: round;
    background-image: url(https://st2.depositphotos.com/7442846/11231/v/950/depositphotos_112313008-stockillustratie-voetbalveld-met-lijnen-vector-illustratie.jpg);
    /* background-size: contain; */
    /*max-height: max-content;*/
}

#col-gk{
	margin-top: 0px ;
}

#col-df{
	margin-top: 3% ;
}

#col-mf{
	margin-top: 5% ;
}

#col-fw{
	margin-top: 7%;
}


.player-names{
	color: white;
	margin-right:10px;
	margin-left: 10px;
}

.player-names:hover{
	color: black;
	text-decoration: underline;
}

.team-flag{
	max-width: -webkit-fill-available;
}

.position{
	color: white;
	text-decoration: underline;
}

.team-link{
	color:black;
}
