.App {
  text-align: center;
}

.w_header {
	font-family: "dusha_plusregular";
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
}

.info-list {
	list-style-type: none;
	font-family: "Verdana";
}

.image-wrapper {
	display: inline;
}

.line-split {
	margin-top: 0px;
	margin-bottom: 5px; 
}

.s-info {
	font-family: "Verdana";
	font-size: 20px;
	color: #010101;
}

.stadium-image {
	width: 100%;
	height: 500px;
}

.custom-heading {
	padding: 1px 1px;
}

.custom-title {
	font-size: 5px;
}

.arrow {
	font-size: 10px;
}

.custom-bg{
    height: -webkit-fill-available;
    height: -moz-available;
    background-repeat: round;
    background-image: url(http://climaxstudios.net/photos/climaxstudios/76/376253.jpg);
    /* background-size: contain; */
    /*max-height: max-content;*/
}

@-moz-document url-prefix() {
  .custom-bg {
    height: 586px;
  }
}

#col-gk{
	margin-top: 0px ;
}

#col-df{
	margin-top: 3% ;
}

#col-mf{
	margin-top: 5% ;
}

#col-fw{
	margin-top: 7%;
}


.player-names{
	color: white;
	margin-right:10px;
	margin-left: 10px;
}

.player-names:hover{
	color: black;
	text-decoration: underline;
}

.team-flag{
	max-width: -webkit-fill-available;
	max-width: -moz-available;
}

.position{
	color: white;
	text-decoration: underline;
}

.team-link{
	color:black;
}

.search-image{
	width: 300px;
	height: 300px;
}

.anyName{
	border-radius: 0px;
	margin-bottom: 0 !important;
}

.topBanner{
	font-family: 'Righteous', cursive;
	color: blue;
	font-size: 64px;
	text-shadow: 2px 3px #000000;
}

.groupHeader{
	background-color: black;
	color: white;
}

.team-link{
	font-size: 20px;
}

.teamName{
	font-family: 'Acme', sans-serif;
}

.calendar-container {
	font-family: cursive;
	height: 800px;
}

.rbc-event {
	background-color: #0A1195 !important; 
}

.rbc-selected{
	position: relative;
}

.game-start{
	position: absolute;
	top: -40px;
	background: black;
	color: white;
}
.fav_teams{
	list-style-type: none;
}

.favs-image{
	width:inherit;
}
.modal-title{
	color:black;

}

.anyName{
	border-radius: 0px;
}

.form1 {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 450px;
  height: 350px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #5c8693;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.button1 {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
}

input.button1:hover {
  background: #fff;
  color: #09C;
}

input:focus {
  border: 1px solid #09C;
}

.swal2-popup {
	width: 500px !important;
}

.match-title {
	display: inline;
	position: relative;
	max-width: 100%;
	margin: 0 0 0.4em;
	padding: 0;
	color: #595959;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	word-wrap: break-word;
}

.match-info {
	position: relative;
	max-width: 100%;
	margin: 0 0 0.4em;
	padding: 0;
	text-align: center;
	color: #595959;
	font-size: 13px;
}

.sm-stadium-image {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 300px;
}